<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">


   <div class="form-group" [ngClass]="aplicaCssErro('nome')">
    <div class="col-sm-12">
      <label for="nome" class="control-label">Nome</label>
    </div>
    <div class="col-sm-12">
      <input type="text" class="form-control" formControlName="nome" id="nome" placeholder="Nome">
      <app-error-msg [control]="formulario.get('nome')" label="Nome"></app-error-msg>
    </div>
  </div>
  <!-- E-mail -->
  <div class="form-group" [ngClass]="aplicaCssErro('email')">
    <div class="col-sm-12">
      <label for="email" class="control-label">E-mail</label>
    </div>
    <div class="col-sm-12">
      <input type="email" class="form-control" formControlName="email" id="email" placeholder="nome@email.com">
      <app-error-msg [control]="formulario.get('email')" label="Email"></app-error-msg>
      <!-- <app-campo-control-erro [mostrarErro]="formulario.get('email').status === 'PENDING'" mgsErro="Valindando email">
      </app-campo-control-erro> -->
      <app-campo-control-erro [mostrarErro]="formulario.get('email').status === 'VALID'" mgsErro="Email válido">
      </app-campo-control-erro>
      <app-campo-control-erro [mostrarErro]="formulario.get('email').hasError('emailInvalido')"
        mgsErro="Email já cadastrado">
      </app-campo-control-erro>
    </div>
  </div>
  <!-- E-mail -->
  <div class="form-group" [ngClass]="aplicaCssErro('confirmarEmail')">
    <div class="col-sm-12">
      <label for="confirmarEmail" class="control-label" placeholder="Confirmar E-mail">Confirmar E-mail</label>
    </div>
    <div class="col-sm-12">
      <input type="email" class="form-control" formControlName="confirmarEmail" id="confirmarEmail"
        placeholder="nome@email.com">
      <app-campo-control-erro [mostrarErro]="formulario.get('confirmarEmail').hasError('equalsTo')"
        mgsErro="E-mails não são iguais">
      </app-campo-control-erro>
    </div>
  </div>


<div class="form-group" [ngClass]="aplicaCssErro('senha')" >
  <div class="col-sm-12">
    <label for="senha" class="control-label" placeholder="Senha">Senha</label>
  </div>
  <div class="col-sm-12">
    <input type="password" class="form-control" formControlName="senha" id="senha">
    <app-campo-control-erro [mostrarErro]="formulario.get('senha').hasError('equalsTo')"
    mgsErro="Crie uma senha que tenha no minimo 8 digitos, 1 Letra maiúscula e um numero">
  </app-campo-control-erro>
  </div>
</div>

<div class="form-group" [ngClass]="aplicaCssErro('confirmarSenha')">
  <div class="col-sm-12">
    <label for="confirmarSenha" class="control-label">Confirmar Senha</label>
  </div>
  <div class="col-sm-12">
    <input type="password" class="form-control" formControlName="confirmarSenha" id="confirmarSenha">
    <app-campo-control-erro [mostrarErro]="formulario.get('confirmarSenha').hasError('equalsTo')"
    mgsErro="As senhas devem ser iguais">
  </app-campo-control-erro>
  </div>

  </div>
  <div class="form-group">
    <div class="col-md-3" [ngClass]="aplicaCssErro('termos')">
      <div class="checkbox">
        <label class="checkbox-inline">
          <input type="checkbox" formControlName="termos"> Aceito os termos.
        </label>
        <app-error-msg [control]="formulario.get('termos').valid" label="Aceito os termos"></app-error-msg>

        <!-- <app-campo-control-erro [mostrarErro]="!formulario.get('termos').valid" msgErro="Por favor, aceite os termos.">
         </app-campo-control-erro> -->
      </div>
    </div>




  <button type="submit" class="btn btn-primary">Submit</button>
  <button class="btn btn-default" (click)="resetar()">Cancelar</button>
  <app-form-debug [form]="formulario"></app-form-debug>
  </div>
</form>
