:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", SirinStencil, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


svg#rocket {
  width: 80px;
  position: absolute;
  left: -10px;
  top: -24px;
}

svg#rocket-smoke {
  height: 100vh;
  position: absolute;
  top: 10px;
  right: 180px;
  z-index: -10;
}
.teste{
  position: fixed;
  height: 100%;
  margin-left: -1em;
  padding-right: -2em;
  padding-bottom: -2em;
  margin-top: -3em;
}


div.container {
  max-width: 75%;
    padding-left: 4em;
}

a{
  color: white;
}
  a:hover{
    color: white;
  }


svg#clouds {
  position: fixed;
  bottom: -40%;
  z-index: -10;
  width: 100%;
  opacity: 20%;
}


/* Responsive Styles */
@media screen and (max-width: 767px) {

  .card-container > *:not(.circle-link) ,
  .teste{
  position: fixed;
  height: 100%;
  margin-left: -1em;
  padding-right: -2em;
  padding-bottom: -2em;
  margin-top: -3em;
  }

  div.container {
    max-width: 75%;
    padding-left: 4em;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
  .teste{
    position: absolute;
    max-width: 35%;
    height: 100%;
    margin-left: -1em;
    padding-right: -2em;
    padding-bottom: -2em;
    margin-top: -3em;
  }

  div.container {
    max-width: 75%;
    padding-left: 4em;
  }
}
}
